#miIcon {
    width: 30px;
    display: flex;
}

#miIcon img{
    width: 100% !important;
    height: 100% !important;
}

.divcontratar{
    margin-top: 50px !important;
}

.toast1{
    margin-top: 70px !important;
}

.divcontratarCita{
    min-height: 640px;
    padding: 40px;
}
